

html { 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.app {
  text-align: center;
}
/* 
.app .app-content {
  padding: 20px 0 0 0; 
  height: max-content;
  overflow-x: hidden;
  overflow-y: auto;  
} */

/* .app [class^="flaticon-"]:before,
.app [class*=" flaticon-"]:before,
.app [class^="flaticon-"]:after,
.app [class*=" flaticon-"]:after {
    margin: 0; 
} */
